.profile__image {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  transition: 0.3;
}

.profile__image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.profile__image:hover::after {
  content: "";
  display: block;
  background: rgb(0, 0, 0, 0.8) url(../../../images/avatar-edit-icon.svg)
    no-repeat center;
  block-size: 100%;
  inline-size: 100%;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
